* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #eee;
    background: #222;
    width: 540px;
    height: 480px;
}

#templates {
    display: none;
}

.help {
    padding: 20px;
}

ol {
    margin-left: 20px;
}

.navigation {
    height: 480px;
    width: 60px;
    text-align: center;
    background: #2c3e50;
    box-shadow: 0 0 2px 0 black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

.nav-button {
    width: 60px;
    height: 60px;
    padding: 7px;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.nav-button:hover {
    background: #3c4e60;
}

.nav-button.active {
    background: #2c3e50;
    color: #2ecc71;
    text-shadow: 0 0 10px #2ecc71;
}

.nav-button i {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 5px;
}

.nav-button .nav-title {
    font-size: 10px;
}

.controls {
    height: 80px;
    background: #34495e;
    position: fixed;
    top: 0;
    width: 480px;
    z-index: 2;
    box-shadow: 0 0 5px black;
    font-size: 0;
}

.controls i {
    font-size: 12px;
    vertical-align: middle;
}

.controls button {
    width: 35px;
    height: 35px;
    background: #34495e;
    border: 0;
    outline: none;
    cursor: pointer;
    color: white;
}

.controls .play-pause {
    width: 45px;
    height: 45px;
}

.controls .play-pause i {
    font-size: 18px;
}

.controls button:hover {
    background: #2c3e50;
    text-shadow: 0 0 10px #2ecc71;
}

.controls-top {
    height: 50px;
    line-height: 55px;
    padding: 0px 10px 0 5px;
}

.add {
    float: right;
    margin-top: 5px;
}

.container {
    width: 480px;
    position: absolute;
    top: 0;
    left: 60px;
    height: 480px;
}

.sections {
    margin-top: 80px;
    height: 400px;
    position: relative;
}

.playlist {
    height: 400px;
    overflow-y: scroll;
}

.playlist-full .playlist {
    height: 370px;
}

.background, .tint {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 102%;
    height: 130%;
    -webkit-filter: blur(5px);
    background-size: 100%;
    margin-top: -2%;
    margin-left: -1%;
    background-position-y: -40px;
}

.tint {
    background: black;
    opacity: 0.4;
    z-index: 0;
}

.song:hover .tint {
    opacity: 0.6;
}

.song {
    position: relative;
    overflow: hidden;
    color: #fff;
    height: 60px;
    line-height: 60px;
    color: white;
}

.song.selected {
    height: 75px;
    margin-top: -7.5px;
    z-index: 999;
    margin-bottom: -7.5px;
    line-height: 75px;
    box-shadow: 0 0 5px 1px black;
    color: black;
}

.song.selected .tint {
    background: #fff;
    opacity: 0.25;
}

.song-title {
    position: absolute;
    z-index: 1;
    left: 60px;
    text-overflow: ellipsis;
    width: 330px;
    overflow: hidden;
    white-space: nowrap;
}

.song.selected .song-title {
    font-weight: 800;
}

.song-length {
    position: absolute;
    z-index: 1;
    right: 10px;
}

.song.selected .song-length {
    font-weight: 800;
}

.song .play-pause,
.song .playlist-toggle {
    position: absolute;
    z-index: 1;
    left: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    top: 10px;
    outline: none;
    cursor: pointer;
    color: white;
}

.song-remove {
    position: absolute;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    top: 10px;
    outline: none;
    cursor: pointer;
    right: 5px;
    z-index: 2;
    font-size: 16px;
    display: none;
    color: white;
}

.fa-check-square-o {
    position: relative;
    left: 1px;
}

.song.selected .song-remove,
.song.selected .play-pause {
    color: black;
}

.song.selected .play-pause {
    top: 17.5px;
}

.song .play-pause:hover {
    color: #eee;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #2ecc71;
    box-shadow: 0 0 5px 0px #2ecc71;
    border-radius: 2px;
}

::-webkit-scrollbar-corner {
    background: #eee;
}

.song-progress {
    background: #2ecc71;
    height: 1px;
    position: absolute;
    bottom: 0;
    width: 0%;
    left: 0;
    box-shadow: 0 0 40px 6px #2ecc71;
    -webkit-transition: all 400ms linear;
}

.controls .line {
    width: 1px;
    height: 80px;
    background: #3c4e60;
    position: absolute;
    background: rgba(255,255,255,0.05);
}

.controls .line.left {
    left: 124px;
}

.controls .line.right {
    right: 85px;
}

.song-progress.top {
    top: 0;
    bottom: auto;
}

.selected-title {
    color: #fff;
    margin-left: 16px;
    text-overflow: ellipsis;
    width: 246px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-top: -5px;
}

.shuffle {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.repeat {
    position: absolute;
    right: 45px;
    bottom: 5px;
}

.shuffle.active,
.repeat.active {
    color: #2ecc71;
    text-shadow: 0 0 10px #2ecc71;
}

.sliders {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: white;
    padding: 0 5px;
}

.selected-length {
    font-size: 12px;
    vertical-align: middle;
}

input[type=range] {
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #2ecc71;
    margin-top: -3px;
    box-shadow: 0 0 12px 1px #2ecc71;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #2c3e50;
    border: 1px solid #3c4e60;
}

.volume-slider {
    width: 80px;
    margin-right: 3px;
    margin-top: -1px;
}

.fa-volume-off {
    margin-right: 5px;
}

.volume {
    margin-left: 8px;
    display: inline-block;
    position: relative;
}

.location {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.location-slider {
    width: 180px;
    margin-right: 10px;
}

.slider-left {
    height: 2px;
    background: #2ecc71;
    width: 0px;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 250ms ease-in-out;
}

.location-slider-left {
    top: 9px;
}

.volume-slider-left {
    top: 9px;
    left: 11px;
}

.song-remove:hover, .song .play-pause:hover {
    background: rgba(0,0,0,0.5);
}

.song.selected .song-remove {
    top: 17.5px;
}

.song:hover .song-remove {
    display: block;
}

.playlist-full .song:hover .song-remove {
    display: none;
}

.song:hover .song-length {
    right: 50px;
}

.playlist-full .song:hover .song-length {
    right: 10px;
}

.song:hover .song-title {
    width: 300px;
}

.playlist-full .song:hover .song-title {
    width: 330px;
}

.search {
    float: right;
    margin-top: 5px;
}

.search-bar {
    position: absolute;
    top: 10px;
    height: 30px;
    left: 135px;
    border-radius: 12px;
    border: 0;
    outline: none;
    width: 0;
    -webkit-transition: all 250ms ease-in-out;
}

.search-bar.visible {
    padding: 10px;
    width: 245px;
}

.playlist-list {
    padding: 10px 0 10px 10px;
    font-size: 0;
    overflow-y: scroll;
    height: 400px;
}

.playlist-list .playlist-button {
    width: 144px;
    height: 144px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 5px -2px black;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.playlist-list .playlist-button:hover {
    box-shadow: 0 0 6px -2px #2ecc71, 0 4px 5px -2px black;
}

.playlist-list .playlist-button-tint {
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 87%,rgba(0,0,0,0.7) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.playlist-list .playlist-button:hover .playlist-button-tint {
    opacity: 0.9;
}

.playlist-list .playlist-button-background {
    width: 105%;
    height: 105%;
    margin-top: -2.5%;
    margin-left: -2.5%;

    background: url(../icon.png);
    background-size: 80%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;

    -webkit-filter: blur(6px);

    position: absolute;
    z-index: 0;
}

.playlist-list .playlist-button-title {
    color: white;
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 12px;
}

.playlist-list .playlist-add {
    border: 1px dashed #2ecc71;
}

.playlist-list .playlist-add:hover {
    background: rgba(0,0,0,0.3);
}

.playlist-list .playlist-add i {
    font-size: 50px;
    margin-top: 50px;
}

.playlist-list .playlist-button input {
    position: absolute;
    width: 80%;
    bottom: 5px;
    left: 10%;
    border: none;
    color: white;
    outline: none;
    background: none;
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.playlist-header {
    height: 30px;
    line-height: 30px;
    background: #24394e;
    color: #eee;
}

.playlist-header .playlist-header-name {
    display: inline-block;
    margin-left: 20px;
}

.playlist-header button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: none;
    border: none;
    outline: none;
    color: #eee;
    cursor: pointer;
    padding-left: 20px;
}

.playlist-header button i {
    margin-right: 8px;
    font-size: 14px;
}

.playlist-header .playlist-edit {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

.playlist-header .playlist-edit i {
    margin-right: 3px;
    vertical-align: middle;
}

.playlist-edit.active .editing,
.playlist-edit .not-editing {
    display: block;
}

.playlist-edit.active .not-editing,
.playlist-edit .editing {
    display: none;
}

.playlist-button-options-toggle {
    position: absolute;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    outline: none;
}

.playlist-button-options-toggle:hover {
     background: rgba(0,0,0,0.5);
}

.playlist-button-options {
    font-size: 12px;
    position: absolute;
    width: 120px;
    background: rgba(0,0,0,0.7);
    top: 30px;
    right: 5px;
    overflow: hidden;
    display: none;
}

.playlist-button-options.visible {
    display: block;
}

.playlist-button-options > div {
    padding: 5px;
}

.playlist-button-options > div:hover {
    background: rgba(0,0,0,0.6);
}

.playlist-button-options i {
    margin-right: 6px;
}

.playlist-button.public .playlist-make-private,
.playlist-button .playlist-make-public {
    display: block;
}

.playlist-button.public .playlist-make-public,
.playlist-button .playlist-make-private {
    display: none;
}

.playlist-remove {
    color: #e74c3c;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 36px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    padding-top: 164px;
}

.playlist-list-search {
    padding: 0px 0 20px 0;
    position: relative;
}

.playlist-list-search input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    outline: none;
    padding: 0 10px 0 30px;
}

.playlist-list-search i {
    font-size: 14px;
    position: absolute;
    color: #000;
    left: 10px;
    top: 7px;
}

.playlist-help {
    padding: 20px;
}

.section.browse .playlist-button-options-toggle {
    display: none;
}

.nav-button[opens="browse"] i {
    margin-top: 2px;
}

.nav-button[opens="browse"] .nav-title {
    margin-top: -6px;
}

.playlist-list-footer {
    font-size: 12px;
    text-align: center;
}
